/* classes */
.customizedLoader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(190, 178, 164);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
